/* 
   ==================
    NAVIGATION BAR
   ==================
*/

.navbar {
    height: 85px;
    top: 0;
    z-index: 10;

    background-color: var(--primary-color);
}

.container {
    max-width: clamp(63vw, 1500px, 90vw);
    
    margin: 0 auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    height: 100%;
    justify-content: center;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar nav {
    display: flex;
    align-items: center;
}

.navbar nav > a {
    margin: 0 5px;
    padding: 0 15px;
}

.Name {
    display: flex;
    align-items: center;
}


/* .navbar .link::after {
    content: '';
    width: 4rem;
    height: 3px;
    
    position: absolute;
    background-color: black;

    display: block;
    opacity: 0;
}

.navbar .link:hover::after {
    opacity: 1;
} */

.navbar nav a {
    position: relative;
    --padding: 0.5em;

    transition: all 0.2s linear;
}

.navbar .link::after {
  content: "";
  position: absolute;
  
  inset-inline: var(--padding);
  bottom: calc(var(--padding) * -0.5); /*Apparently when you go lower, the line also goes down.*/

  height: 3px;
  border-radius: 10px;
  
  background-color: black;

  transform-origin: 0 100%; /*Remove this to animate from center*/
  transform: scale(0, 1);
  transition: inherit;
}

.navbar .link:hover::after {
  transform: scale(1, 1);
}



@font-face {
font-family: "Black Ocean";
src: url("black ocean/Black\ Ocean\ Two.ttf");
}

#iCare {
    font-family: 'Black Ocean';
    font-size: 6rem;
}

#i {
    color: orange;
}

#Care {
 
}


/* 
   ==================
    NAVIGATION BAR
    Documentation
   ==================
*/


#Documentation {
    margin: 0 5px;

    padding: 13px 0px;
    border-radius: 50px;

}

#Documentation > a {
    color: var(--primary-color);

    transition: all 0.7s linear ease-in-out;

    padding: 13px 10px;
    border-radius: 50px;
/* 
    background-image: linear-gradient(10deg, cyan 0%, blue 50%, purple 100%);
    background-size: 400% 400%;

    animation: move 15s linear infinite; */

    background-color: #0099ff;

    transition: all 0.4s linear;
}

/* @keyframes move  {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
} */

#Documentation > a:hover {
   background-color: goldenrod;

   color: white;
}