/* @layers names */



/* 
   ==================
        FONTS
   ==================
*/

@font-face {
    font-family: "Black Ocean";
    src: url("black ocean/Black\ Ocean\ One.ttf");
}

@font-face {
    font-family: "WaterLily";
    src: url("waterlily/Waterlily\ Script.ttf");
}

@font-face {
    font-family: "Big John";
    src: url("Big John/Big John  Slim Joe/BIG\ JOHN.otf");
}

@font-face {
    font-family: "Brolink";
    src: url("brolink-font/BrolinkDemo-VGyMZ.otf");
}

/* 
   ==================
          ROOT
   ==================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

:root {
    --primary-color: #ffffff;
    --bg-color: #D8ECFA;
    --blue-shade: #5194BF;
    --dark: #000;
    --gold: #ffd700;
}

body {
    /* background-color: rgba(255, 255, 255, 1); */
    background-color: var(--bg-color);

    
    /* display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0; */
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-weight: 0;
}

::-webkit-scrollbar {
    display: none;
}

/* 
   ==================
          LOGO
   ==================
*/





/* 
   ==================
          MAIN
   ==================
*/

.section-1 {
    background-color: var(--primary-color);
}

.sub-section-1 {
    background-color: var(--bg-color);
}







.container-soft {
    height: 15rem;
    width: 40%;

    margin: 150px 0;
    margin-inline: auto;

    border-radius: 50px;
    background: var(--primary-color);

    box-shadow:  41px 41px 82px #d9d9d9,
             -41px -41px 82px #ffffff;

    padding: 10px 10px;
}

.head {
    font-family: 'Black Ocean';
    font-size: 3.75rem;

    display: flex;
    justify-content: center;
}

.body {
    margin: 1em auto;
}

.sub-container {
    display: flex;
    align-items: center;
}

.sub-container > p {
    text-align: justify;

    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}









.container-soft-empty {
    height: 10rem;
    width: 100%;

    margin-top: 100px 0;
    margin-inline: auto;

    display: flex;
    align-items: center;

    padding: 10px 10px;

    clip-path: polygon(50% 100%, 0 0, 100% 0);

    background-color: var(--primary-color);
}

.class-section {
    width: max-content;
    margin-inline: auto;
}

.class-section > h1 {
    font-family: 'Brolink';
    font-size: 3.5rem;

    text-align: center;
    color: var(--dark);
}

.class-section > h1 > .gold {
    color: var(--gold);
}

.mouse-container {
    display: flex;
    justify-content: center;
    align-items: center;


    margin: 0 auto;
}

.mouse {
    position: relative;

    width: 32px;
    height: 60px;

    border: solid 4px var(--dark);
    border-radius: 32px;
}

.wheel {
    position: absolute;
    
    width: 8px;
    height: 10px;

    top: 20%;
    left: 50%;

    background-color: var(--gold);
    border-radius: 6px;

    transform: translate(-50%, 0);

    animation: scroll 1s linear infinite;
}

.wheel.active {
    animation: scroll 1s linear infinite;
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    1% {
        transform: translate(-50%, 0);
    }
    20%, 30% {
        opacity: 1;
    }
    90% {
        transform: translate(-50%, 130%);
    }
    100% {
        opacity: 0;
    }
}

.parent-box {
    position: relative;
}

.box {
    position: relative;

    top: 0;
    
    width: 100%;

    display: flex;
    justify-content: center;

    margin: 40px 0;
}

.box h1 {
    /* margin: 100px 0; */

    position: absolute;
    font-size: 5.4em;

    transition: all 0.5s linear;
}

.box h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px var(--blue-shade);

    font-family: 'Big John';
}

.box h1:nth-child(2) {
    color: var(--blue-shade);
    animation: fill-up 4s ease-in-out infinite;

    font-family: 'Big John';
}

.box:hover .heading-text-fill {
    color: var(--gold);
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.4);
}

.box:hover .heading-text-stroke {
    -webkit-text-stroke: 2px rgba(0, 0, 0, 1);
}

/* .box .heading-text-fill:hover ~ .box + .heading-text-stroke {
    -webkit-text-stroke: 2px var(--primary-color);
} */

@keyframes fill-up {
    0%, 100% 
    {
        clip-path: polygon(0 50%, 10% 50%, 24% 48%, 35% 58%, 51% 46%, 59% 55%, 70% 55%, 83% 46%, 94% 54%, 100% 29%, 100% 100%, 0% 100%);
    }
    50% 
    {
        clip-path: polygon(0 80%, 9% 54%, 20% 57%, 33% 69%, 46% 53%, 58% 63%, 76% 68%, 86% 68%, 94% 64%, 100% 78%, 100% 100%, 0% 100%);
    }
}




/* 
   ==================
        BODY GRID 
   ==================
*/

main { 
    flex-grow: 1;
}

main > article {
    display: grid;
    height: 100%;

    grid-template-columns: 2fr 2fr;
}

main > article > .article-section {
    height: 100%;
    border: 1px solid black;
}

section {
    width: 100%;
}



/* 
   ==================
       SECTION 1 
   ==================
*/

.image-wrapper {
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.image-1, .image-2, .image-3 {
    margin: 5em 8em;
}

.image-1, .image-3 {
    width: 18.75rem;
    height: 18.75rem;

    border-radius: 200px;

    object-fit: cover;
    overflow: hidden;
}

.image-2 {
    width: 25rem;
    height: 25rem;

    border-radius: 200px;

    object-fit: cover;
    overflow: hidden;
}

/* 
   ==================
      SECTION 1 END 
   ==================
*/




/* 
   ==================
       SECTION 2
   ==================
*/

#section-2 {
    background-color: var(--primary-color);
}

.box-wrapper-section {
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 0 50px;
}

.box-1, .box-2, .box-3 {
    margin: 20px 20px;

    background-color: var(--bg-color);
    text-align: center;

    border-radius: 20px;
    border: 2px solid black;
}

/* 
   ==================
      SECTION 2 END 
   ==================
*/