/* 
   ==================
          WAVES
   ==================
*/

:root {
    --primary-color: #ffffff;
    --bg-color: #D8ECFA;
    --blue-shade: #5194BF;
    --dark: #000;
    --gold: #ffd700;
}

/* 
   ==================
       TITLE START
   ==================
*/

.heading-start-wrapper {
    position: relative;
}

.heading-start {
    position: absolute;

    z-index: 100;

    top: 25rem;
    left: 50%;
    
    transform: translate(-50%, -50%);

    width: 95%;
    
    padding: 0 50px;
}

.heading-start > h1 {
    font-size: 4.5em;
    font-family: 'Marxure';
    font-weight: lighter;
    color: var(--primary-color);

    text-align: center;

    line-height: 2;

    border: 5px solid var(--dark);

    background-color: rgba(0, 0, 0, 0.5);

    transition: all 0.5s linear;
}

.heading-start > h1 > .cursor {
    display: inline-block;
    
    background-color: white;

    width: 3px;
    font-size: 1em;

    margin-left: 0.1rem;

    animation: blink 1s infinite;

    opacity: 1;
}

.heading-start > .heading-h1::after {
    content: '';

    height: 3px;
    display: block;
    
    position: absolute;
    bottom: 2.5em;

    inset-inline: 1em;
    border-radius: 100px;

    background-color: var(--primary-color);

    transform: scale(0, 1);
    transition: all 0.3s linear;
}

.heading-start > .heading-h1::before{
    content: '';

    height: 3px;
    display: block;
    
    position: absolute;
    top: 3.7em;

    inset-inline: 4em;
    border-radius: 100px;

    background-color: var(--primary-color);

    transform: scale(0, 1);
    transition: all 0.8s linear;
}

.heading-start > .heading-h1.active::after, 
.heading-start > .heading-h1.active::before {
    transform: scale(1, 1);
}

/* .heading-start > h1:hover::before, .heading-start > h1:hover::after {
    transform: scale(1, 1);
} */

@keyframes blink {
    0% {
        background-color: white;
    }
    49% {
        background-color: white;
    }
    50% {
        background: transparent;
    }
    99% {
        background: transparent;
    }
    100% {
        background-color: white;
    }
}

/* 
   ==================
        TITLE END
   ==================
*/




/* 
   ==================
    WAVE BELOW START
   ==================
*/

.wrapper {
    position: relative;

    width: 100%;
    height: clamp(600px, 850px, 1000px);

    background: #0099ff;
    overflow: hidden;

    background-image: url('ocean-sun.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;

    transition: all 0.5s linear;
}

.wrapper .wave {
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 100px;

    background-image: url('wave svg.png');
    background-size: 1000px;
}

.wrapper .wave.first-wave {
    z-index: 10;
    opacity: 1;
    bottom: 0;

    animation: flow 15s linear infinite;
}

.wrapper .wave.second-wave {
    z-index: 9;
    opacity: 0.5;
    bottom: 10px;

    animation: flow 15s linear -5s infinite reverse;
}

.wrapper .wave.third-wave {
    z-index: 8;
    opacity: 0.2;
    bottom: 15px;

    animation: flow 15s linear -2.5s infinite;
}

.wrapper .wave.fourth-wave {
    z-index: 7;
    opacity: 0.7;
    bottom: 10px;

    animation: flow 15s linear -5s infinite;
}

/* 
   ==================
    WAVE BELOW END
   ==================
*/


@keyframes flow {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}


/* 
   ==================
    WAVE ABOVE START
   ==================
*/

.wrapper-up {
    position: absolute;

    width: 100%;
    height:  clamp(150px, 150px, 300px);

    background: #0099ff;
    overflow: hidden;
}

.wrapper-up .wave-up {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100px;

    background-image: url('wave svg-u-d.png');
    background-size: 1000px;
}

.wrapper-up .wave-up.first-wave-up {
    z-index: 10;
    opacity: 1;
    top: 0;

    animation: flow 15s linear infinite;
}

.wrapper-up .wave-up.second-wave-up {
    z-index: 9;
    opacity: 0.5;
    top: 10px;

    animation: flow 15s linear -5s infinite reverse;
}

.wrapper-up .wave-up.third-wave-up {
    z-index: 8;
    opacity: 0.2;
    top: 15px;

    animation: flow 15s linear -2.5s infinite;
}

.wrapper-up .wave-up.fourth-wave-up {
    z-index: 7;
    opacity: 0.7;
    top: 10px;

    animation: flow 15s linear -5s infinite;
}

/* 
   ==================
    WAVE ABOVE END
   ==================
*/